#add-recipe-form {
  .input-group {
    margin-bottom: 1rem;

    label {
      display: block;
      color: gray;
      font-size: 0.8rem;
    }
  }

  input[type="text"] {
    display: block;
    width: 100%;
    border: none;
    background-color: rgb(255, 255, 255);
    border: 1px solid gray;
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;

    &::placeholder {
      color: gray;
    }
  }

  .submit {
    padding: 0.5rem 1rem;
    background: green;
    border-radius: 0.25rem;
    border: none;
    color: white;
  }
}

.image-input-container {
  display: block;
  border-radius: 0.25rem;
  border: 1px solid gray;
  margin-bottom: 1rem;
  overflow: hidden;

  .placeholder {
    display: grid;
    place-content: center;
    height: 4rem;
    color: gray;
    background-color: white;
    cursor: pointer;
  }

  img {
    display: none;
  }

  &.image-selected {
    .placeholder {
      display: none;
    }

    img {
      display: block;
      width: 100%;
      object-fit: cover;
    }
  }

  input {
    position: absolute;
    opacity: 0;
    width: 0.1px;
  }
}

.info-banner {
  --dark-green: rgb(0, 100, 0);
  --light-green: rgb(214, 242, 214);
  border: 1px solid var(--dark-green);
  border-radius: 0.25rem;
  margin-bottom: 2rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr auto;

  background-color: var(--light-green);
  color: var(--dark-green);
  fill: var(--dark-green);

  &:not(.show) {
    display: none;
  }

  &.error {
    --dark-red: rgb(100, 0, 0);
    --light-red: rgb(242, 214, 214);
    background-color: var(--light-red);
    color: var(--dark-red);
    fill: var(--dark-red);
  }

  .close-button {
    all: unset;
    display: block;
    height: max-content;
    cursor: pointer;
    height: 1.5rem;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}
