.hero {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr;
  place-content: center;
  gap: 4rem;

  @media screen and (min-width: 800px) {
    & {
      grid-template-columns: 1fr 1fr;
    }
  }

  .title {
    color: var(--primary);
    margin-bottom: 1rem;
  }

  .subtitle {
    color: rgb(61, 61, 61);
    margin-bottom: 2rem;
  }

  .images {
    display: flex;
    justify-content: center;

    &:hover > img {
      filter: grayscale(100%);
    }

    img:hover {
      filter: none;
    }

    img {
      width: 150px;
      height: 200px;
      object-fit: cover;
      display: block;
      border-radius: 0.5rem;
      box-shadow: 2px 2px 4px 2px hsl(0, 0%, 0%, 0.1);
      transition: 250ms ease-out;

      &:nth-child(1) {
        rotate: -15deg;
        translate: 30px 30px;
        z-index: 1;
        &:hover {
          translate: 20px 10px;
        }
      }

      &:nth-child(2) {
        translate: 0px 0px;
        z-index: 2;
        &:hover {
          translate: 0px -20px;
        }
      }

      &:nth-child(3) {
        rotate: 15deg;
        translate: -30px 30px;
        z-index: 1;
        &:hover {
          translate: -20px 10px;
        }
      }
    }
  }

  .actions {
    display: flex;
    gap: 1rem;

    .action {
      display: block;
      padding: 1rem 1.5rem;
      font-size: 0.8rem;
      border: none;
      outline: none;
      border-radius: 0.25rem;
      background-color: transparent;
      cursor: pointer;

      &.action-primary {
        background: var(--primary);
        color: white;
        transition: background-color ease-out 200ms;

        &:hover {
          background-color: var(--primary-light);
        }
      }
    }
  }
}
