@import "../mixins/breakpoints.scss";

.recipes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0rem;
  padding-bottom: 2rem;

  @include xs-breakpoint {
    grid-template-columns: 1fr;
  }

  @include md-breakpoint {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .recipe {
    position: relative;
    border: 1px solid var(--structure);
    border-radius: 0.25rem;
    overflow: hidden;
    aspect-ratio: 3/4;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
    transform: scale(0.95);
    transition: 250ms ease-out;

    &:hover {
      transform: scale(1);
      .name {
        opacity: 1;
      }

      &::before {
        opacity: 1;
      }

      .image {
        transform: scale(1.1);
      }
    }

    .name {
      z-index: 3;
      opacity: 0;
      transition: 250ms ease-out;
      position: absolute;
      bottom: 0;
      margin: 0;
      padding: 1rem;
      font-size: clamp(1.125rem, 1.5vw, 2rem);
      font-weight: 600;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: white;
    }

    &::before {
      content: "";
      z-index: 2;
      opacity: 0;
      transition: 250ms ease-out;
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to top, black 0%, transparent 30%);
    }

    .image {
      z-index: 1;
      object-fit: cover;
      object-position: center;
      display: block;
      height: 100%;
      transition: 500ms ease-out;
    }
  }
}
