* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --bg-color: rgb(245, 245, 245);
  --fg-color: rgb(22, 22, 22);
  --fg-secondary: rgb(36, 36, 36);
  --primary: rgb(12, 12, 61);
  --primary-light: rgb(37, 37, 184);
  --structure: rgb(207, 207, 207);
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--fg-color);
}

a {
  text-decoration: none;
  color: var(--fg-secondary);
}

.container {
  margin: auto auto;
  max-width: 1200px;
  width: 100%;
  padding: 0rem 1rem;
}

.header {
  border-bottom: 1px solid var(--structure);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header__link_container {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.header__link a {
  font-size: 1rem;
}

.header__link--selected a {
  color: var(--primary);
}

.header__logo {
  color: var(--primary);
}

.page_height {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
